<aside class="sidebar-nav">
    <nav class="nav-links-vertical">
        <a href="/" class="nav-item">
            <span class="icon">🏠</span> Home
        </a>
        <a href="/posities" class="nav-item">
            <span class="icon">🏃</span> Posities
        </a>
    </nav>
</aside>